/* NAVBAR
-------------------------------------------------- */

.navbar {
  border-radius: 0px;
  border: none;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-bottom: 0px;
}
.navbar-default {
    background-color: #1E1E24;
    border-color: #fff;
}
.navbar {

}
.navbar > a {
  color: #fff;
}
/* CUSTOMIZED CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 240px;
  margin-bottom: 30px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 240px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 240px;
}

@media (min-width: 768px) {

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

}

/* MARKETING
-------------------------------------------------- */

.marketing {
  margin: 60px auto;
}

.marketing .col-md-4 {
  text-align: center;
  font-size: 16px;
}

.marketing .col-md-4 .glyphicon {
  font-size: 60px;
  background-color: #EAEAEA;
  border-radius: 50%;
  padding: 40px;
  color: #444;
}


/* PROJECTS CONTAINER
-------------------------------------------------- */

.projects-container {
  background: black;
}
.carousel .item {
  background-color: #B71C1C;
}
.footer {
  background
}
/* STICKY FOOTER
-------------------------------------------------- */

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 160px;
}

.footer,
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 160px;
  background: #444;
  color: white;
  text-shadow: 1px 1px 1px black;
  padding: 40px 0;
}
/* JUMBOTRON
-------------------------------------------------- */
.jumbotron {
  background-image: url(http://i.imgur.com/SOSlQJp.jpg);
  background-repeat: no-repeat;
  background-color: #fff;
  background-position: center center;
  padding-bottom: 0px;
  margin-bottom: 0px;
  height: 572px;
}
