
.navbar-default {
    background-color: #1E1E24;
    border-color: #1E1E24;
}
.navbar {
    border-radius: 0px;
}
.navbar > a {
  color: #fff;
}
.carousel .item {
  background-color: #B71C1C;
}
.footer {
  background
}
